

header {
    width: 100%;
    display: flex;
}

header p {
    color: darkgoldenrod;
    font-size: 15px;
    margin: auto auto auto auto;
}

hr {
    border-color: darkgoldenrod;
}

#title {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
}

#title h1 {
    margin: auto auto auto auto;
    color: darkgoldenrod;
    font-size: 80px;
}



#button-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100px;
}

#button-set-squares {
    width: 100px;
    height: 50px;
    margin-right: 20px;
    color: darkgoldenrod;
    border: solid darkgoldenrod;
}

#button-clear {
    width: 100px;
    height: 50px;
    margin-left: 20px;
    color: darkgoldenrod;
    border: solid darkgoldenrod;
}

#container {
display: grid;
width:500px;
height:500px;
border:solid darkgoldenrod;
margin:auto auto 70px auto;
background:white;

}